body{
    font-family:verdana, sans-serif;
    margin: auto;
    max-width: 1400px;
}

#mainpage_projects {
    border-collapse: collapse;
    display: flex;

}
.centered{
    text-align: center;
}
#mainpage_projects td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 30%;
    span:10;
    margin: auto;

}

#mainpage_projects tr:hover {
    background-color: #ddd;
}